<nav>
	<ul><p><%= link_to 'Home', root_path %></p></ul>
	<ul><p><%= link_to 'About', about_index_path %></p></ul>
</nav>

<% @providers.each do |provider| %>
	<p><%= provider.provider_name %></p>
<% end %>