<nav>
	<ul><p><%= link_to 'Home', root_path %></p></ul>
	<ul><p><%= link_to 'About', about_index_path %></p></ul>
</nav>

<% @birdsongs.each do |birdsong| %>
<p><%= link_to birdsong.audio_file, birdsong_path(birdsong) %></p>
<% end %>

<%= paginate @birdsongs %> 