<nav>
	<ul><p><%= link_to 'Home', root_path %></p></ul>
	<ul><p><%= link_to 'About', about_index_path %></p></ul>
</nav>

<% @types.each do |type| %>
	<p><%= type.type_name %></p>
<% end %>

<%= paginate @types %> 