<nav>
	<ul><p><%= link_to 'Home', root_path %></p></ul>
	<ul><p><%= link_to 'About', about_index_path %></p></ul>
</nav>

<% @countries.each do |country| %>
<h2><%= country.country %></h2>
<% end %>

<%= paginate @countries %> 