<nav>
	<ul><p><%= link_to 'Home', root_path %></p></ul>
	<ul><p><%= link_to 'About', about_index_path %></p></ul>
</nav>

<% @birds.each do |bird| %>
<p><%= link_to bird.common_name, bird %></p>
<% end %>